
.record_audio {
    font-size: 20px;
    margin: 5% 0 0 5%;
  }
  
  .msg_speak {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    ion-icon {
      height: 3rem !important;
      width: 3rem !important;
      margin-top: 1rem;
    }
  }