.buttons {
    padding: 0 1rem;
}

.btn-info{
    width: 34%;
    color: var(--ion-color-primary-contrast);
    --background: var(--ion-color-tertiary);
    font-size: 0.875rem;
    font-family: Noto Sans;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 19.60px;
    word-wrap: break-word;
    padding: 5px;
}
 
.exit{
    --color: var(--ion-color-tertiary);
    --background: white;
}

ion-modal {
    --height: 50%;
    --border-radius: 1rem;
    --box-shadow: 0 0.625rem 0.938rem -0.188rem rgb(0 0 0 / 0.1), 0 0.25rem 0.375rem -0.25rem rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
}