<ion-header [hidden]="!headerConfig.showHeader || false">
  <ion-toolbar class="custom-header">
    <div class="header-content">
      <ion-buttons slot="start" class="start-icon">
        <ion-button [hidden]="headerConfig.showbackButton">
          <ion-icon aria-hidden="true" class="pitara-icon" src="assets/images/pitara-empty-box.svg"></ion-icon>
        </ion-button>
        <!-- Back button image -->
        <ion-button [hidden]="!headerConfig.showbackButton">
          <ion-icon aria-hidden="true" src="assets/icon/arrow-back.svg"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title role="heading" aria-level="1" [hidden]="headerConfig.showbackButton">{{headerConfig.pageTitle}}</ion-title>

      <ion-buttons slot="end" [hidden]="headerConfig.showbackButton">
        <ion-button>
          <ion-icon aria-hidden="true" src="assets/icon/search.svg"></ion-icon>
        </ion-button>
        <ion-button (click)="scan($event)">
          <ion-icon aria-hidden="true" src="assets/icon/qr-scan.svg"></ion-icon>
        </ion-button>
        <ion-button (click)="editProfile($event)">
          <ion-icon aria-hidden="true" src="assets/icon/profile-icon.svg"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
    <div class="pills-container">
      <ion-chip class="pills" (click)="toggleMenu()">
        <ion-icon aria-hidden="true" src="assets/icon/list.svg"></ion-icon>
      </ion-chip>
      <ion-chip class="pills active">All</ion-chip>
      <ion-chip class="pills">children's song</ion-chip>
      <ion-chip class="pills">Stories</ion-chip>
      <ion-chip class="pills">activities</ion-chip>
      <ion-chip class="pills">Default</ion-chip>
      <ion-chip class="pills">Default</ion-chip>
      <ion-chip class="pills">Default</ion-chip>
      <ion-chip class="pills">Default</ion-chip>
    </div>
  </ion-toolbar>
</ion-header>

<ion-menu contentId="mainContent" class="sb-side-menu" side="start" persistent="true"
  [swipeGesture]="false">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{'All Categories' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list class="sb-menu-list">
      <ion-item lines="none" *ngFor="let item of sidebarMenuItems" (click)="emitSideMenuItemEvent($event, item)">
        <ion-label class="sb-menu-item" role="button" menuClose>{{item | translate}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu> 
