ion-header {
  box-shadow: none;
}

ion-toolbar {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);

  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

ion-title {
  font-weight: 700;
  padding-left: 0;
}

ion-icon {
  width: 30px;
  height: 30px;
}

.end-icon {
  ion-icon {
    margin-right: 8px;
  }
}

.start-icon {
  ion-icon.pitara-icon {
    width: 36px;
    height: 36px;
    margin: 0 0 0 8px;
  }
}

.custom-header-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.custom-search-header {
  margin-top: -24px;
  z-index: 9;

  ion-searchbar {
    --background: transparent;
    --color: var(--ion-color-primary-contrast);
    --box-shadow: none;
    --border-radius: 24px;
    --border-color: var(--ion-color-primary-contrast);
    border: 2px solid;
    border-radius: 24px;
    overflow: hidden;
    margin: 24px 16px 16px 16px;
    width: calc(100% - 32px);
    position: relative;

    .mic-icon {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      width: 28px;
      height: 28px;
    }
  }
}

::ng-deep {
  .custom-search-header {
    .searchbar-search-icon.sc-ion-searchbar-md {
      display: none;
    }
    .searchbar-input.sc-ion-searchbar-md {
      padding: 4px 24px;
    }
    .sc-ion-searchbar-ios-h {
      padding: 0;
      min-height: 48px;
    }
  }
}

.header-content {
  margin-top: 1.5rem;
  display: flex;
}
