<ion-header [hidden]="!headerConfig?.showHeader || false">
  <ion-toolbar class="custom-header">
    <div class="header-content">
      <ion-buttons slot="start" class="start-icon">
        <ion-button [hidden]="headerConfig?.showbackButton">
          <ion-icon aria-hidden="true" class="pitara-icon" src="assets/images/pitara-empty-box.svg"></ion-icon>
        </ion-button>
        <!-- Back button image -->
        <ion-button [hidden]="!headerConfig?.showbackButton" (click)="emitEvent($event, 'back')">
          <ion-icon aria-hidden="true" src="assets/icon/back.svg"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title role="heading" aria-level="1" *ngIf="!(headerConfig?.showbackButton && headerConfig?.actionButtons?.indexOf('search') >=0)">{{ headerConfig?.pageTitle | translate}}</ion-title>
      <ion-input type="search" *ngIf="headerConfig?.showbackButton && headerConfig?.actionButtons?.indexOf('search') >=0" #searchInput [placeholder]="'SEARCH_HINT' | translate">
    </ion-input>
      <ion-buttons slot="end" [hidden]="headerConfig?.showbackButton">
        <ion-button (click)="emitEvent($event, 'search')" appLongPress>
          <ion-icon aria-hidden="true" src="assets/icon/search.svg"></ion-icon>
        </ion-button>
        <ion-button (click)="emitEvent($event, 'scan')">
          <ion-icon aria-hidden="true" src="assets/icon/qr-scan.svg"></ion-icon>
        </ion-button>
        <ion-button (click)="emitEvent($event, 'profile')">
          <ion-icon aria-hidden="true" src="assets/icon/profile-icon.svg"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end" [hidden]="!headerConfig?.showbackButton">
        <!-- <ion-button *ngIf="headerConfig?.actionButtons?.indexOf('search') >=0">
          <ion-icon aria-hidden="true" class="audio-record-mic" src="assets/icon/mic.svg"></ion-icon>
        </ion-button> -->
        <ion-button (click)="emitEvent($event, 'upload')" *ngIf="headerConfig?.actionButtons?.indexOf('upload') >=0">
          <ion-icon aria-hidden="true" class="audio-record-mic" src="assets/icon/upload.svg"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
    <div class="pills-container" *ngIf="!headerConfig?.showbackButton">
      <ion-chip class="pills" (click)="toggleMenu()">
        <ion-icon aria-hidden="true" src="assets/icon/list.svg"></ion-icon>
      </ion-chip>
      <ion-chip class="pills active">{{"All" | translate }}</ion-chip>
      <div *ngFor="let filter of filters; let i=index">
        <ion-chip class="pills">{{filter.label | translate }}</ion-chip>
      </div>
     </div>
     <!--bot panel header-->
     <div class="bot-back-panel hide">  <!--remove hide class for bot panels-->
      <div class="bot-back-panel-container">  <!--use the class "question-bot" for question bot panel-->
        <ion-icon aria-hidden="true" src="assets/icon/bot-back-icon.svg"></ion-icon>
        <div class="bot-back-panel__title">Story Bot</div>
        <div class="logo">
          <!--logo for story bot-->
          <img src="assets/images/Storybot1.svg" alt="Story bot"> 
          <!--logo for question bot--> 
          <!-- <img src="assets/images/questionbot1.svg" alt="Story bot">  -->
        </div>
      </div>
    </div>
    <!--bot panel header ends here-->
  </ion-toolbar>
</ion-header>

<ion-menu contentId="mainContent" class="sb-side-menu" side="start" persistent="true"
  [swipeGesture]="false">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{'All Categories' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list class="sb-menu-list">
      <ion-item lines="none" *ngFor="let item of filters" (click)="emitSideMenuItemEvent($event, item)">
        <ion-label class="sb-menu-item" role="button" menuClose>{{item.label | translate}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu> 
