<ion-header [hidden]="!headerConfig.showHeader">
  <ion-toolbar class="custom-header">
    <!-- <img class="custom-header-img" src="assets/images/header-toy-pattern.png" alt="header"> -->
    <div class="header-content">
      <ion-buttons slot="start" class="start-icon">
        <ion-button [hidden]="headerConfig.showbackButton">
          <ion-icon aria-hidden="true" class="pitara-icon" src="assets/images/pitara-empty-box.svg"></ion-icon>
        </ion-button>
        <!-- Back button image -->
        <ion-button [hidden]="!headerConfig.showbackButton">
          <ion-icon aria-hidden="true" src="assets/icon/arrow-back.svg"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title role="heading" aria-level="1" [hidden]="headerConfig.showbackButton">{{headerConfig.pageTitle}}</ion-title>

      <ion-buttons slot="end" [hidden]="headerConfig.showbackButton">
        <ion-button>
          <ion-icon aria-hidden="true" src="assets/icon/search.svg"></ion-icon>
        </ion-button>
        <ion-button (click)="scan($event)">
          <ion-icon aria-hidden="true" src="assets/icon/qr-scan.svg"></ion-icon>
        </ion-button>
        <ion-button (click)="editProfile($event)">
          <ion-icon aria-hidden="true" src="assets/icon/profile-icon.svg"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
    <div class="pills-container">
      <ion-chip class="pills">
        <ion-icon aria-hidden="true" src="assets/icon/list.svg"></ion-icon>
      </ion-chip>
      <ion-chip class="pills active">All</ion-chip>
      <ion-chip class="pills">children's song</ion-chip>
      <ion-chip class="pills">Stories</ion-chip>
      <ion-chip class="pills">activities</ion-chip>
      <ion-chip class="pills">Default</ion-chip>
      <ion-chip class="pills">Default</ion-chip>
      <ion-chip class="pills">Default</ion-chip>
      <ion-chip class="pills">Default</ion-chip>
    </div>
  </ion-toolbar>
</ion-header>
