ion-header {
  box-shadow: none;
}

ion-toolbar {
  padding: 0.5rem !important;
}
::ng-deep {
  .toolbar-container{
    padding: 0 !important;
    min-height: auto;
  }
}
ion-title {
  font-weight: 700;
  padding: 0 0.5rem;
  color: #FF3B53;
  font-size: 1.125rem;
}

ion-icon {
  width: 1.875rem;
  height: 1.875rem;
  margin-left: 0;
}

.start-icon {
  ion-icon.pitara-icon {
    width: 2rem;
    height: 2rem;
  }
}

.header-content {
  display: flex;
}

.pills-container {
  display: grid;
  gap: 0.25rem;
  overflow-y: auto;
  overflow-x: auto;
  grid-auto-flow: column;
  padding: 1rem 0.5rem;

  .pills {
    padding: 0.375rem 0.75rem;
    text-transform: capitalize;
    border-radius: 0.625rem;
    font-size: 0.75rem;
    width: max-content;
    &.active {
      background-color:#000;
      color: var(--ion-color-primary-contrast);
    }
    icon-icon{
      margin-left: 0;
    }
  }
}
