ion-header {
  box-shadow: none;
}

// ion-toolbar {
//   padding: 1.3rem 0.5rem 0.5rem !important;
// }
::ng-deep {
  .toolbar-container{
    padding: 0 !important;
    min-height: auto;
  }
}
ion-title {
  font-weight: 700;
  padding: 0 0.5rem 0 0;
  font-size: 1.1rem;
}

.active-label {
  color: var(--ion-color-primary);
}

ion-icon {
  width: 1.875rem;
  height: 1.875rem;
  margin-left: 0;
}

.start-icon {
  ion-icon.pitara-icon {
    width: 2.5rem;
    height: 2rem;
  }
}

.header-content {
  display: flex;
}

.pills-container {
  display: grid;
  gap: 0.25rem;
  overflow-y: auto;
  overflow-x: auto;
  grid-auto-flow: column;
  padding: 1rem 0.5rem;
  grid-auto-columns: max-content;
  .pills {
    padding: 0.375rem 0.75rem;
    text-transform: capitalize;
    border-radius: 0.625rem;
    font-size: 0.75rem;
    width: max-content;
    &.active {
      background-color: var(--ion-color-secondary-contrast);
      color: var(--ion-color-primary-contrast);
    }
    icon-icon{
      margin-left: 0;
    }
  }
}

.sb-side-menu {
  ion-toolbar {
    --background:  var(--ion-color-primary-contrast);
    --color: var(--ion-color-secondary-contrast);
    margin: 0 0 0 1.5rem;
  }
  ion-label {
    display: flex;
    align-items: center;
  }
  div {
    display: block;
  }
  .sb-menu-list  {
    padding: 0 !important;
    .sb-menu-item{
      margin: 0 0 0 0.5rem; 
    }
  }
}

//bot back panel styles

.custom-header {
  ion-title {
    color: #CF4147;
  }
  .title_bb {
    color: black;
  }
}

.custom-header:has(> .bot-back-panel) { 
  //padding: 0 !important;
}
.bot-back-panel{
  padding-bottom: 2rem;
  background: url('../../../assets/images/content-bg.svg') center center / cover no-repeat;
  .bot-back-panel-container{
    background: var(--ion-color-primary);
    height: 4rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    &.question-bot{
      background:  var(--ion-color-tertiary);
    }
    ion-icon {
      color: var(--ion-color-primary-contrast);
    }
  }
  &__title{
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    color: var(--ion-color-primary-contrast);
    padding: 0 0.5rem;
  }
}

.edit-icon{
  width: 1.2rem;
  height: 1.2rem;
}

.back-btn {
  color: var(--ion-color-primary);
}

.logo{
  position: absolute;
  right: 0;
  top: -0.5rem;
  width: 7rem;
}