ion-content{
  --padding-top: 2.2rem;
}

  .djp-grid-slider{
    padding: 1rem;
    margin-top: 0.625rem;
    &__header{
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
        margin-bottom: 1rem;
        color: var(--ion-color-dark);
        position: sticky;
        top: 15px;
        background-color: var(--ion-color-primary-contrast);
        &__add{
            font-size: 1.313rem;
            font-weight: bold;
        }
    }
}


:host ion-checkbox {
  --border-radius: 50% !important;
  --border-color: var(--ion-color-medium) !important;
  --size: 1.5rem !important;
  --checkbox-background-checked: var(--ion-color-secondary) !important;
  --border-color-checked: var(--ion-color-secondary) !important;
}
.new-playlist-card {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  padding: 0 0.3rem;
}
.new-playlist-card__image {
  flex-shrink: 0;
  width: 7.5rem;
  height: 4.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
.new-playlist-card__image img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}
.new-playlist-card__details {
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}
.new-playlist-card__title {
  font-size: 0.875rem;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-right: 2rem; 
}
.new-playlist-card__actions {
   position: absolute;
   right: 1rem;
}
ion-checkbox {
  margin-right: 0.5rem;/* Add spacing between checkbox and other actions */
}

.kabab-menu-icon{
  position: absolute;
  right: 1rem;
  ion-icon{
      width: 1.5rem;
      height: 1.5rem;
  }
}

:host ion-checkbox {
  --border-radius: 50% !important;
  --border-color: var(--ion-color-medium) !important;
  --size: 1.5rem !important;
  --checkbox-background-checked: var(--ion-color-secondary) !important;
  --border-color-checked: var(--ion-color-secondary) !important;
}
.new-playlist-card {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  padding: 0 0.5rem;
}
.new-playlist-card__image {
  flex-shrink: 0;
  width: 7.5rem;
  height: 4.5rem;
  border-radius: 0.3rem;
  overflow: hidden;
}
.new-playlist-card__image img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}
.new-playlist-card__details {
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}
.new-playlist-card__title {
  font-size: 0.875rem;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-right: 2rem; 
}
.new-playlist-card__actions {
   position: absolute;
   right: 1rem;
}
ion-checkbox {
  margin-right: 0.5rem;/* Add spacing between checkbox and other actions */
}



:host ion-button.view-playlist {
  --background: var(--ion-color-secondary);
  --color: var(--ion-color-primary-contrast);
  --border-radius: 1.875rem;
  --border-color: var(--ion-color-primary-contrast);
  --border-style: solid;
  --border-width: 1px;
  --box-shadow: none;
}

.djp-view-playlist {
  position: fixed;
  bottom: 0;
  width: 99%;
  height: 4rem;
  background-color: var(--ion-color-secondary);
  border-radius: 3.125rem;
  display: flex;
  align-items: center;
  padding: .5rem;

  &__icon {
      width: 3rem;
      height: 3rem;
      background-color: var(--ion-color-primary-contrast);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin-right: 5%;

      .count {
          position: absolute;
          top: -0.188rem;
          right: -0.188rem;
          background: var(--ion-color-primary);
          border-radius: 50%;
          font-size: 0.625rem;
          width: 1.125rem;
          height: 1.125rem;
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--ion-color-primary-contrast);
      }

      ion-icon {
          width: 1.5rem;
          height: 1.5rem;
      }
  }

  &__button {
      margin-left: auto;
      ion-button {
          font-size: 0.875rem;
          font-weight: bold;
      }
  }
}

.view-all-btn{
  display: flex;
  justify-content: center;
}

