@import "./../../../assets/styles/djp-card-styles";

ion-content {
  --padding-top: 1.5rem
}

.landscape-icon {
  position: absolute;
  width: 100%;
  background: transparent;
  bottom: 3.5rem;
  z-index: 9999;
  background: var(--ion-color-secondary-contrast);
  opacity: 0.5;

  ion-icon {
    float: right;
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }
}

.icon-right {
  margin-right: 10px;
}

.icon-left {
  margin-left: 10px;
}

  