<ion-tabs>
  <ion-tab-button tab="home" href="/tabs/home" class="home-screen">
    <ion-icon aria-hidden="true" src="assets/icon/home.svg"></ion-icon>
  </ion-tab-button>

  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="home" href="/tabs/story">
      <ion-icon aria-hidden="true" src="assets/icon/book.svg"></ion-icon>
      <ion-label>Story</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bot" href="/tabs/bot">
      <ion-icon aria-hidden="true" src="assets/icon/parents.svg"></ion-icon>
      <ion-label>Guardian</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="story" href="/tabs/my-pitara">
      <ion-icon aria-hidden="true" src="assets/icon/teacher.svg"></ion-icon>
      <ion-label>Teacher</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-pitara" href="/tabs/my-pitara">
      <ion-icon aria-hidden="true" src="assets/icon/pitara1.svg"></ion-icon>
      <ion-label>{{'Pitara' | translate }}</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="activity" href="/tabs/activity">
      <ion-icon aria-hidden="true" src="assets/icon/ajkigatibidhi.svg"></ion-icon>
      <ion-label>Activity</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>

</ion-tabs>
