<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" src="assets/icon/home.svg"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bot" href="/tabs/bot">
      <ion-icon aria-hidden="true" src="assets/icon/ajkigatibidhi.svg"></ion-icon>
      <ion-label>Bot</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-pitara" href="/tabs/my-pitara">
      <ion-icon aria-hidden="true" src="assets/icon/pitara.svg"></ion-icon>
      <ion-label>Pitara</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="story" href="/tabs/story">
      <ion-icon aria-hidden="true" src="assets/icon/ajkikahani.svg"></ion-icon>
      <ion-label>Story</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="activity" href="/tabs/activity">
      <ion-icon aria-hidden="true" src="assets/icon/ajkigatibidhi.svg"></ion-icon>
      <ion-label>Activity</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>

</ion-tabs>
