@import "./../../../assets/styles/djp-card-styles";
@import "./../../../assets/styles/play-list-styles";

ion-content {
  --padding-top: 2.5rem;
}

ion-item {
  width: 100%;
}

ion-input {
  --placeholder-opacity: 0.5;
}

.create-playlist {
  padding: 1rem;
}

.create-playlist-container {
  margin-top: 1.5rem;
}

