.djp-card {
  &__img {
    height: 200px;
    width: 100%;
    overflow: hidden;
    img {
      max-width: 100%;
      width: 100%;
    }
  }

  &__metadata {
    background-color: var(--ion-color-primary-contrast);
    padding: 1rem 1.5rem;
  }

  &__action-btns {
    display: flex;
    align-items: center;
    ion-icon {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 1rem;
      &:last-child {
        margin-left: auto;
        margin-right: 0;
      }
    }
  }

  &__title {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0.5rem;
  }
}
