<ion-header>
  <ion-toolbar class="custom-header">
    <div class="header-content">
      <ion-buttons slot="start" class="start-icon">

        <ion-button (click)="navigateBack()">
          <ion-icon aria-hidden="true" src="assets/icon/back.svg"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-input type="search" #searchInput [placeholder]="'SEARCH_HINT' | translate"></ion-input>
      <ion-buttons slot="end">
        <ion-button #recordbtn>
          <ion-icon aria-hidden="true" src="assets/icon/mic.svg"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="m-n" *ngIf="showSheenAnimation">
    <ion-item *ngFor="let i of [0,1,2,3,4,5,6,7,8]" class="animation-background" style="padding: 5px;">
        <div item-start style="border-radius: 10px;">
            <app-skeleton-item height="100px" width="200px"></app-skeleton-item>
        </div>
        <ion-label style="padding-left: 40px;">
            <app-skeleton-item height="12px" width="67%" style="padding-bottom: 8px;"></app-skeleton-item>
            <app-skeleton-item height="12px" width="47%" style="padding-bottom: 8px;"></app-skeleton-item>
        </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
