.splash-screen-1{
  background-image: url("../../../assets/images/splash-screen.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
ion-content{
  --padding-top: 0;
}

.splash-screen {
  height: 100%;
  --background: none;
  .pitara-container {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    .logo{
      display: flex;
      flex-direction: column;
      :first-child{
        height: 4.5rem;
      }
      :last-child{
        margin-top: 1rem;
      }
    }
  }
}