<ion-content [fullscreen]="true" class="splash-screen">
  <div class="splash-screen-header">
    <img src="assets/images/Ministry_of_Education_India.svg" alt="Ministry logo" />
    <img src="assets/images/NCERT_1.svg" alt="NCERT image" />
  </div>
  <div class="splash-screen-container">
    <img src="assets/images/centerimage.png" alt="circle image" />
    <div class="splash-screen-logo">
      <div class="logo">
        <img src="assets/images/DJP-logo.svg" alt="DJP logo" />
      </div>
      <div class="Jaadui-Pitara-txt">e Jaadui Pitara</div>
    </div>
  </div>
</ion-content>
