<ion-content [fullscreen]="true" class="splash-screen">
  <div class="splash-screen-header">
    <img src="assets/images/Ministry_of_Education_India.svg" alt="Ministry logo" />
    <img src="assets/images/NCERT_1.svg" alt="NCERT image" />
  </div>
  <div class="splash-screen-img center-img">
    <img src="assets/images/pm-logo.png" alt="logo" class="pm-logo">
    <img src="assets/images/splash-center-box.png" alt="Pitara box" class="pitara-box">
  </div>
  <div class="footer-img">
    <img src="assets/images/djp-pitara-logo.png" alt="pitara-logo">
  </div>
  <div class="footer-text">(Powered by Bhashini)</div>
</ion-content>
