<ion-content [fullscreen]="true">
  <div class="djp-bot">
    <!-- switch the class names 'received' and 'sent' based on condition -->
    <div class="djp-bot__message received"> 
      <span>एक समय की बात है कि बेहताल नाम के एक शहर में रवि नाम का एक लड़का रहता था।</span>
      <span class="time">11:40</span>
    </div>
    <div class="djp-bot__message sent">
      <span>बात है कि बेहताल नाम के एक शहर में रवि नाम का एक लड़का रहता था।</span>
      <span class="time">11:40</span>
    </div>
    <div class="djp-bot__message sent">
      <img src="../../../assets/icon/play.svg" alt="" />
      <span class="time">11:40</span>
    </div>
    <div class="djp-bot__message received">
      <span>क्या आप को और एक कहानी चाहिए?</span>
      <span class="time">11:40</span>
    </div>
    <div class="djp-bot__message sent">
      <img src="../../../assets/images/bot-chat-img.svg" alt="" />
      <span class="time">11:40</span>
    </div>
    <div class="djp-bot__message received"> 
      <span>एक समय की बात है कि बेहताल नाम के एक शहर में रवि नाम का एक लड़का रहता था।</span>
      <span class="time">11:40</span>
    </div>
    <div class="djp-bot__message sent">
      <span>बात है कि बेहताल नाम के एक शहर में रवि नाम का एक लड़का रहता था।</span>
      <span class="time">11:40</span>
    </div>
    <div class="djp-bot__message sent">
      <img src="../../../assets/icon/play.svg" alt="" />
      <span class="time">11:40</span>
    </div>
    <div class="djp-bot__message received">
      <span>क्या आप को और एक कहानी चाहिए?</span>
      <span class="time">11:40</span>
    </div>
    <div class="djp-bot__message sent">
      <img src="../../../assets/images/bot-chat-img.svg" alt="" />
      <span class="time">11:40</span>
    </div>
  </div>
  <div class="djp-bot-input">
    <ion-input aria-label="Email" value=""></ion-input>
    <ion-icon aria-hidden="true" class="audio-record-mic" src="../../../assets/icon/bot-audio.svg"></ion-icon>
  </div>
</ion-content>

