ion-content{
    --padding-top: 72px;
    --background: url('../../../assets/images/content-bg.svg') center center / cover no-repeat;
}
.djp-bot{
    padding: 1rem;
    height: calc(100vh - 4.875rem);
    overflow: auto;
    &__message{
        line-height: normal;
        letter-spacing: -0.3px;
        background: #fff;
        padding: 1rem 1rem 10px 1rem;    
        max-width: 80%;
        position: relative;
        width: fit-content;
        margin-bottom: 1rem;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
        .time{
            color: rgba(0, 0, 0, 0.25);
            display: flex;
            justify-content: flex-end;
            font-size: 0.688rem;
            letter-spacing: 0.031rem;
            padding-top: 0.25rem;
        }
        &.received{
            border-radius: 1rem 1rem 1rem 0px;
        }
        &.sent{
            background: #DCF7C5;
            margin-left:auto;
            border-radius: 1rem 1rem 0px 1rem;
        }
    }
}
.djp-bot-input{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background: #fff;
    box-shadow: 0px -0.33px 0px 0px #A6A6AA;
    display: flex;
    align-items: center;
    .audio-record-mic{
        width: 1.875rem;
        height: 1.875rem;
        margin-left: 0.5rem;
    }
    .sc-ion-input-md-h{
        height: 2.25rem;
        min-height: auto;
        border: 0.063rem solid rgb(142, 142, 147, 0.5);
        border-radius: 1rem;
        padding: 0 0.5rem !important;
    }
}
