<ion-content [fullscreen]="true">
  <div class="djp-bot">
    <!-- switch the class names 'received' and 'sent' based on condition -->
    <div class="djp-bot__message received"> 
      <span>{{'chat-bot.messages.m01'|translate}}</span>
      <span class="time">11:40</span>
    </div>
    <div class="djp-bot__message received">
      <span>{{'chat-bot.messages.m02'|translate}}</span>
      <span class="time">11:40</span>
    </div>
    <div class="djp-bot__message sent">
      <span>{{'chat-bot.messages.m03'|translate}}</span>
      <span class="time">11:40</span>
    </div>
    <div class="djp-bot__message received">
      <span>{{'chat-bot.messages.m04'|translate}}</span>
      <span class="time">11:40</span>
    </div>
    <div class="djp-bot__message sent">
      <img src="../../../assets/icon/play.svg" alt="" />
      <span class="time">11:40</span>
    </div>
  </div>
  <div class="djp-bot-input">
    <ion-input aria-label="Email" value=""></ion-input>
    <ion-icon aria-hidden="true" class="audio-record-mic" src="../../../assets/icon/audio-record.svg"></ion-icon>
  </div>
</ion-content>

