<ion-content [fullscreen]="true">
    <!-- For now pasting code for testing purpose Needs to be removed-->
    <div class="spinner-div" *ngIf="refresh">
        <ion-spinner icon="spiral" class="refreshspinner"></ion-spinner>
    </div>
    <ion-refresher #refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content refreshingSpinner="circles"></ion-refresher-content>
    </ion-refresher>
    
    <!-- <div class="filter">
      <div class="pills-container" *ngFor="let filter of filters let i=index">
          <div class="pills" [ngClass]="{'active':filter?.active}" (click)="handleFilter(filter)">{{filter.label | translate }}</div>
      </div>
    </div> -->

    <!-- Cards -->
    <div *ngIf="configContents.length > 0">
      <div *ngFor="let content of configContents; let i = index">
        <div class="djp-card">
          <div class="djp-card__img" (click)="playContent($event, content)">
            <ion-img [src]="content.metaData.thumbnail" alt="" />
          </div>
          <div class="djp-card__metadata">
            <div class="djp-card__action-btns">
              <ion-icon aria-hidden="true" src="assets/icon/thumb-up.svg" *ngIf="!content.liked" (click)="contentLiked($event, content)"></ion-icon>
              <ion-icon aria-hidden="true" src="assets/icon/like.svg" *ngIf="content.liked"></ion-icon>
              <ion-icon aria-hidden="true" src="assets/icon/share.svg" (click)="shareContent($event, content)"></ion-icon>
              <ion-icon name="add-circle-outline" (click)="addContentToMyPitara($event, content)"></ion-icon>
            </div>
            <div class="djp-card__title">{{content.metaData?.name}}</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Cards -->
<div class="djp-cards-container">
  <div class="djp-card">
    <div class="djp-card__img">
      <img src="assets/images/card-img-1.png" alt="">
    </div>
    <div class="djp-card__metadata">
      <div class="djp-card__title">vegetable sorting</div>
      <ion-icon aria-hidden="true" src="assets/icon/kabab-icon.svg"></ion-icon>
    </div>
  </div>
  <div class="djp-card">
    <div class="djp-card__img">
      <img src="assets/images/card-img-2.png" alt="">
    </div>
    <div class="djp-card__metadata">
      <div class="djp-card__title">Our Beautiful Garden</div>
    </div>
    <div class="bot-section">
      <div class="image">
        <img src="assets/images/Story_bot.svg" alt="">
        <div class="image-title">Make a Story</div>
      </div>
      <div class="image">
        <img src="assets/images/Question_bot.svg" alt="">
        <div class="image-title">Ask a Doubt</div>
      </div>
    </div>
  </div>
  <div class="djp-card">
    <div class="djp-card__img">
      <img src="assets/images/card-img-2.png" alt="">
    </div>
    <div class="djp-card__metadata">
      <div class="djp-card__action-btns">
        <ion-icon aria-hidden="true" src="assets/icon/like.svg"></ion-icon>
        <ion-icon aria-hidden="true" src="assets/icon/share.svg"></ion-icon>
      </div>
      <div class="">
        <ion-icon name="add-circle-outline"></ion-icon>
      </div>
    </div>
    <div class="djp-card__title">Title comes here</div>
  </div>
</div>


</ion-content>
