<ion-content [fullscreen]="true">
    <!-- For now pasting code for testing purpose Needs to be removed-->
    <div class="spinner-div" *ngIf="refresh">
        <ion-spinner icon="spiral" class="refreshspinner"></ion-spinner>
    </div>
    <ion-refresher #refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content refreshingSpinner="circles"></ion-refresher-content>
    </ion-refresher>

    <!-- Cards -->
    <div *ngIf="configContents.length > 0">
      <div class="djp-cards-container" *ngFor="let content of configContents; let i = index">
        <div class="bot-section" *ngIf="!content.metaData || !content.metaData.name">
          <div class="image">
            <img src="assets/images/Story_bot.svg" alt="">
            <div class="image-title">{{"Make a Story" | translate }}</div>
          </div>
          <div class="image">
            <img src="assets/images/Question_bot.svg" alt="">
            <div class="image-title">{{"Ask a Doubt" | translate }}</div>
          </div>
        </div>
        <div class="djp-card" *ngIf="content.metaData && content.metaData.name">
          <div class="djp-card__img" (click)="playContent($event, content)">
            <ion-img [src]="content.metaData.thumbnail" alt=""/>
            <!-- <div *ngIf="content.metaData.mimeType === 'video/x-youtube'">
              <iframe id="player{{i}}" title="" width="380" height="200" allowfullscreen [src]="sanitiseUrl(content.metaData.url)"></iframe>
            </div> -->
            <!-- <div class="landscape-icon" (click)="switchLandscape(content)">
              <ion-icon name="scan" size="large" color="light"></ion-icon>
            </div> -->
          </div>
          <div class="djp-card__metadata">
            <div class="djp-card__title">{{content.metaData?.name}}</div>
            <ion-icon aria-hidden="true" src="assets/icon/kabab-icon.svg" (click)="moreOtions(content)"></ion-icon>
          </div>
        </div>
      </div>
    </div>
</ion-content>
