<ion-content [fullscreen]="true">
    <!-- For now pasting code for testing purpose Needs to be removed-->
    <div class="spinner-div" *ngIf="refresh">
        <ion-spinner icon="spiral" class="refreshspinner"></ion-spinner>
    </div>
    <ion-refresher #refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content refreshingSpinner="circles"></ion-refresher-content>
    </ion-refresher>
    
    <!-- <div class="filter">
      <div class="pills-container" *ngFor="let filter of filters let i=index">
          <div class="pills" [ngClass]="{'active':filter?.active}" (click)="handleFilter(filter)">{{filter.label | translate }}</div>
      </div>
    </div> -->

    <!-- Cards -->
    <div *ngIf="configContents.length > 0">
      <div class="djp-cards-container" *ngFor="let content of configContents; let i = index">
        <div class="bot-section" *ngIf="!content.metaData || !content.metaData.name">
          <div class="image">
            <img src="assets/images/Story_bot.svg" alt="">
            <div class="image-title">Make a Story</div>
          </div>
          <div class="image">
            <img src="assets/images/Question_bot.svg" alt="">
            <div class="image-title">Ask a Doubt</div>
          </div>
        </div>
        <div class="djp-card" *ngIf="content.metaData && content.metaData.name">
          <div class="djp-card__img" (click)="playContent($event, content)">
            <ion-img [src]="content.metaData.thumbnail" alt="" />
          </div>
          <div class="djp-card__metadata">
             <div class="djp-card__title">{{content.metaData?.name}}</div>
             <ion-icon aria-hidden="true" src="assets/icon/kabab-icon.svg" (click)="moreOtions(content)"></ion-icon>
          </div>
        </div>
      </div>
    </div>
</ion-content>
