<ion-content [fullscreen]="true">
    <!--slider-->
    <div class="djp-grid-slider">
        <div class="djp-grid-slider__header">
            <div class="">Recently Viewed</div>
            <div class="djp-grid-slider__header__link">See All</div>
        </div>
        <div class="djp-grid-slider__container">
            <ion-card class="djp-grid-slider__container__card">
                <div class="djp-grid-slider__container__card__img">
                    <img src="../../../assets/images/slider-img.svg" alt="" />
                </div>
                <ion-card-header>
                  <ion-card-title>Bird sounds</ion-card-title>
                </ion-card-header>
            </ion-card>
            <ion-card class="djp-grid-slider__container__card">
                <div class="djp-grid-slider__container__card__img">
                    <img src="../../../assets/images/slider-img-1.png" alt="" />
                </div>
                <ion-card-header>
                  <ion-card-title>Card Title</ion-card-title>
                </ion-card-header>
            </ion-card>
        </div>
    </div>
    <!--slider ends here-->

    <!--grid cards-->
    <ion-grid>
        <ion-row>
          <ion-col size="6" size-md="4">
            <ion-card class="djp-grid-card">
                <div class="djp-grid-card__img">
                    <img src="../../../assets/images/grid-card-img-1.png" alt="" />
                </div>
                <ion-card-header>
                  <ion-card-title>Parents</ion-card-title>
                </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" size-md="4">
            <ion-card class="djp-grid-card">
                <div class="djp-grid-card__img">
                    <img src="../../../assets/images/grid-card-img-2.png" alt="" />
                </div>
                <ion-card-header>
                  <ion-card-title>Teacher</ion-card-title>
                </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" size-md="4">
            <ion-card class="djp-grid-card">
                <div class="djp-grid-card__img">
                    <img src="../../../assets/images/grid-card-img-3.png" alt="" />
                </div>
                <ion-card-header>
                  <ion-card-title>Tribal</ion-card-title>
                </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" size-md="4">
            <ion-card class="djp-grid-card">
                <div class="djp-grid-card__img">
                    <img src="../../../assets/images/grid-card-img-4.png" alt="" />
                </div>
                <ion-card-header>
                  <ion-card-title>Handicapped</ion-card-title>
                </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size="6" size-md="4">
            <ion-card class="djp-grid-card">
                <div class="djp-grid-card__img">
                    <img src="../../../assets/images/grid-card-img-5.png" alt="" />
                </div>
                <ion-card-header>
                  <ion-card-title>My box</ion-card-title>
                </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!--grid cards ends here-->
</ion-content>
