/* Global styles goes here */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: var(--ion-font-family);
    background-color: var(--ion-background-color) !important;
}

ion-content {
     --padding-top: 112px;
     overflow: auto;
    // --background: url('./../images/content-bg.svg') center center / cover no-repeat; /* Set your image path */
}

ion-modal.lang-modal {
    --width: 90%;
    --height: 85%;
    --border-radius: 16px;
}

ion-modal.sheet-modal {
    --width: 90%;
    --height: 85%;
    --border-radius: 20px;
}

ion-modal.add-to-pitara {
    &.bottom {
        align-items: flex-end;
    }

    --height: auto;
    --border-radius: 20px;
    --width: 90%;

    .ion-page {
        position: relative;
        display: block;
        contain: content;

        .inner-content {
            max-height: 80vh;
            overflow: auto;
            padding: 10px;
        }
    }
}

ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
}

ion-modal.auto-height {
    --height: auto;
    --border-radius: 20px;
    --width: 90%;
    /* --height: 50%; */
    /* --border-radius: 16px; */
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

    .ion-page {
        position: relative;
        display: block;
        contain: content;

        .inner-content {
            height: auto
        }
    }
}