/* Global styles goes here */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: var(--ion-font-family);
    background-color: var(--ion-background-color) !important;
}

ion-content {
     --padding-top: 120px;
     overflow: auto;
    // --background: url('./../images/content-bg.svg') center center / cover no-repeat; /* Set your image path */
}
