/* Global styles goes here */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: var(--ion-font-family);
    background-color: var(--ion-background-color) !important;
}

ion-content {
     --padding-top: 120px;
     overflow: auto;
    // --background: url('./../images/content-bg.svg') center center / cover no-repeat; /* Set your image path */
}

ion-modal.lang-modal {
    --width: 90%;
    --height: 85%;
    --border-radius: 16px;
}

ion-modal.sheet-modal {
    --width: 90%;
    --height: 85%;
    --border-radius: 20px;
}

ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
}
